::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.intro {
  float: right;
  height: 500px;
} 

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* portfolio color palette (Belize Hole)*/

.color-primary-0 {
  color: white;
}


/* Main Primary color */

.rgba-primary-0 {
  color: white;
}


/* Main Primary color */


/* General setup and overrides */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

html,
body {
  font-family: 'Lato', sans-serif !important;
}

.glyphicon,
.fa {
  color: black;
}

/* Landing page */

header {
  background-image: linear-gradient(rgba( 0, 0, 0, 0), rgba( 0,0,0,0)), url('https://samiralibabic.github.io/portfolio/img/pexels-photo-min.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 500px;
}

.navbar,
.navbar-default {
  background-color: white !important;
  border: none !important;
  padding: 1rem 1rem !important;
}

.navbar-nav > li > a:link,
.navbar-nav > li > a:visited {
  color: #bdadac !important;
  text-transform: uppercase !important;
  font-size: 1.2rem;
  border-bottom: 1px solid transparent !important;
  padding: 0;
  margin: 15px;
}

.navbar-brand {
  color: white !important;
  font-size: 1.2rem;
}

.navbar-brand .glyphicon {
  color: #bdadac !important;
  margin-left: 1rem;
  font-size: 2rem;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active {
  color: #bdadac !important;
  background-color: transparent;
  text-decoration: underline;
  transition: border-bottom 1s;
  padding: 0;
  margin: 15px;
}

.navbar-scrolled {
  background-color: #f8f8f8 !important;
  transition: background-color 0.1s;
}

#main-heading {
  font-size: 8rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 80vw;
}

#main-subheading {
  font-size: 2rem;
  font-weight: 200;
  color: black;
  display: block;
  margin-bottom: 1.5em;
}

@media (max-width:1024px) {
  #main-heading {
    font-size: 5rem;
  }
  #main-subheading {
    font-size: 4rem;
  }
}

@media (max-width:768px) {
  #main-subheading {
    font-size: 3rem;
  }
}

.navbar-default .navbar-toggle:hover {
  background-color: #3499DB !important;
  transition: all 0.4s;
}

.navbar-default .navbar-toggle:focus {
  background-color: #3499DB !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}

.hero-text-box {
  position: absolute;
  text-align: center;
  color: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text-box a {
  position: relative;
  top: 100px;
}

.hero-text-box .btn,
.hero-text-box .btn-default,
.hero-text-box .btn-default:visited,
.hero-text-box .btn-default:active:hover,
.hero-text-box .btn-default:active:focus {
  color: black;
  background: none;
  border: 1px solid;
  transition: all 0.4s;
}

.hero-text-box .btn:hover,
.hero-text-box .btn-default:hover,
.hero-text-box .btn-default:focus{
  border-color: white;
  background-color: white;
  transition: all 0.4s;
}


/* Intro section */
#intro .glyphicon {
  font-size: 30px;
  margin: 2rem;
}

#intro h3 {
  margin: 2rem;
}

img {
  max-width: 100%;
  height: 125px;
}

#intro p {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  text-align: center;
}

@media (max-width: 1024px) {
  #intro p {
    font-size: 1.5rem;
  }
  #intro h1 {
    font-size: 0.7rem;
  }
  #intro h3 {
    padding: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  #intro p {
    font-size: 1.4rem;
    padding: 10px;
  }
}

@media (max-width: 425px) {
  #intro .glyphicon {
    margin: 0;
  }
}

#intro {
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e7e7e7;
}

.intro-img {
  height:400px;
  float: right;
}

/* Latest projects */

#projects {
  background-color: #f8f8f8;
  padding: 2rem 2rem;
  border-bottom: 1px solid #e7e7e7;
}

h3 {
  padding-bottom: 2rem;
}

#projects img {
  object-fit: cover;
  object-position: top;
}

/* Contact */

#contact {
  background-color: #bdadac;
  color: white;
  padding: 3rem 0;
}

#contact i,
#contact .glyphicon,
#contact img {
  padding: 10px 10px;
  font-size: 30px;
  margin-bottom: 30px;
}

#contact p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

@media (max-width: 1024px) {
  #contact p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  #contact p {
    font-size: 1.4rem;
  }
}

#contact .glyphicon,
#contact .fa {
  color: white;
}

#contact .glyphicon:hover,
#contact .fa:hover {
  color: #C9C9C9;
  transition: all 0.4s;
}

.hidden {
  display: none !important;
}



.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


@media only screen and (min-width: 35em) {
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
}


@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
 
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

div.social-link {
  display: inline-block;
  height: 50px;
  line-height: 45px;
  width: 50px;
  margin: 6px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  color: #111;
}

.video-gallery {
  position: relative;
  margin: 0 auto;
  text-align: center;
   display: flex;
  justify-content: center;
}

.video-gallery .gallery-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  text-align: left;  
  width: 100%;
  max-width: 500px;
  height: 200px;
}

.video-gallery .gallery-item img {
  position: relative;
  display: block;
  opacity: .45; 
  height: 310px;
  max-width: 500%;
  transition: opacity 0.45s, transform 0.35s;
  transform: translate3d(-23px, 0, 0);
  backface-visibility: hidden;
}

.video-gallery .gallery-item .gallery-item-caption {
  padding: 1em;
  color: black;
  text-transform: uppercase;
  text-align: left;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-gallery .gallery-item h2 {
  font-weight: 300;
  font-size: 150%;
  overflow: hidden;
  padding: 0.5em 0;
}


.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
  position: relative;
  margin: 0;
  z-index: 10;
}

.video-gallery .gallery-item p {
  letter-spacing: 1px;
  font-size: 60%;

  padding: 1em 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
  opacity: .3;
  transform: translate3d(0, 0, 0);

}

.video-gallery .gallery-item .gallery-item-caption {
  text-align: left;
}

.video-gallery .gallery-item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: black;
  
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
